.live-input-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(245, 157, 157);
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color:white;
  }
  
  .styled-input {
    width: 100%;
    max-width: 100%;
    padding: 14px 16px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    color:black;
    box-sizing: border-box;
    font-family: cursive;
  }
  
  .styled-input::placeholder {
    color: #575252aa;
  }
  
  .live-display {
    margin-top: 20px;
    font-size: 18px;
    color: white;
  }
  