body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-container {
    background-color: #ffffffcc; 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
  }
  h1{
    margin-left: 12%;
  }
  input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px #74ebd5;
  }
  
  .output-text {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 500;
  }
  