.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:rgb(145, 234, 145);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 
  .toggle-box {
    background: white;
    box-shadow: 8px 4px 8px 8px rgba(10, 0, 0, 0.2);
    ;
    padding: 40px 60px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    text-align: center;
  }
  
  .toggle-button {
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #1ab17f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button:hover {
    background-color: #116a4c;
  }
  
  .toggle-content {
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(145, 234, 145);
    border-radius: 8px;
    color: #333;
  }
  